<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="simplePattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n"/>
        <Property name="path" value="src\logs"/>
    </Properties>
    <Appenders>
        <!--Logging to stdout config-->
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="${simplePattern}"/>
        </Console>
        <!--Logging to file config-->
        <File name="audit" fileName="${path}\audit.log" append="true">
            <PatternLayout pattern="${simplePattern}"/>
        </File>
        <File name="game" fileName="${path}\game.log" append="true">
            <PatternLayout pattern="${simplePattern}"/>
        </File>
        <File name="exceptions" fileName="${path}\exceptions.log" append="true">
            <PatternLayout pattern="${simplePattern}"/>
        </File>
    </Appenders>
    <Loggers>
        <!--Default logging will be to file-->
        <Root level="ALL">
            <AppenderRef ref="stdout" level="ALL"/>
        </Root>
        <!--Stdout logger config-->
        <Logger name="stdoutLogger" level="all" additivity="false">
            <AppenderRef ref="stdout" level="all"/>
        </Logger>
        <!--Audit logger config-->
        <Logger name="auditLogger" level="all" additivity="false">
            <AppenderRef ref="audit" level="all"/>
        </Logger>
        <!--Exception logger config-->
        <Logger name="exceptionLogger" level="all" additivity="false">
            <AppenderRef ref="exceptions" level="all"/>
            <AppenderRef ref="stdout" level="all"/>
        </Logger>
        <!--Game logger config-->
        <Logger name="gameLogger" level="all" additivity="false">
            <AppenderRef ref="game" level="all"/>
            <AppenderRef ref="stdout" level="all"/>
        </Logger>
    </Loggers>
</Configuration>